@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Dancing+Script:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-principal: #00b944d1;
    --color-secundario: #FFB693;
    --color-botones: #ffcc44;
    --color-fondo: #FAF8F0;
    --color-text: #3C3C3C;
}

html {
    font-size: 16px;
    font-family: "Dancing Script", cursive;
    scroll-behavior: smooth;

    body {
        background-color: var(--color-fondo);

        header {
            color: var(--color-text);
            font-size: 42px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 0 2rem;

            img {
                width: 10rem;
            }
        }

        ;

        nav {
            margin: 2rem auto;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                padding: 1rem 0;

                li {
                    border: 1px solid;
                    padding: .5rem .5rem;
                    border-radius: 20px;
                    background-color: var(--color-botones);
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    color: var(--color-text);
                    font-size: 1.2rem;
                }

                li:hover {
                    background-color: var(--color-principal);
                    color: var(--color-secundario);
                    border: #3C3C3C;
                }
            }
        }

        main {
            background-image: url(../assets/img/logoprincipal.png);
            height: 20rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            h2 {
                position: relative;
                top: 50%;
                left: 10rem;
                color: var(--color-principal);
                text-shadow: 4px 4px 4px var(--color-secundario);
            }
        }

        #producto {
            margin: 5rem;
            h2 {
                margin: 6rem;
            }
        }

        .products {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            align-content: flex-start;
            flex-wrap: wrap;
            margin: 2rem;

            .card {
                background-color: var(--color-botones);
                padding: 2rem;
                border-radius: 5%;
                margin: 1rem;
                a {
                    text-decoration: none;
                    color: var(--color-text);
                }
                img {
                    border-radius: 5%;
                }
            }
        }

    }
}